.container {
  position: center;
  margin: 0; width: auto;
  background: #D8D8D8;
  min-height: 200px;
  text-align: center;
  font-style: oblique;
  font-size: 34px;
  color: #000;
  float: center;
}

.white-box {
  width: 500px;
  height: 15px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
}
